* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}


.navigation {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0;
}

header {
    background-color: #1f2937;
    padding: 0 2rem;
}

header nav {
    margin: auto;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
}

.nav-link {
    margin-right: 1.5rem;
    text-decoration: none;
}

.nav-link a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.navigation li:last-child {
    margin-right: 0;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 48px 0;
    font-size: 18px;
}

.hero div {
    flex: 1;
}

.hero-image {
    text-align: center;
    color: #e5e7eb;
    padding: 96px 36px;
    background-color: darkgray;
}

.hero-text p {
    color: #e5e7eb;
    padding: 6px 0;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-text button {
    background-color: #3882f6;
    color: #e5e7eb;
    border: none;
    border-radius: 12px;
    padding: 12px 24px;
}

.info-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-sec-card {
    display: flex;
    padding: 0px 32px;
    gap: 48px;
    text-align: center;
}

.info-sec h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 24px 0px;
}

.info-sec .svg {
    padding: 48px 12px;
    border: 2px solid #3882f6;
    border-radius: 12px;
    margin-bottom: 12px;

}

.quote-sec {
    padding: 72px;
    margin: 24px 0px;
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-weight: 200;
}

figure {
    display: flex;
    flex-direction: column;
}

figure figcaption {
    align-self: flex-end;
    color: black;
}

.action-sec {
    display: flex;
    justify-content: space-evenly;
    background-color: #3882f6;
    color: white;
    padding: 48px 0px;
    margin: 96px;
    border-radius: 6px;
}

.action-sec button {
    background-color: #3882f6;
    color: white;
    padding: 12px 48px;
    border: 1px solid white;
    border-radius: 12px;
}

.action-sec p {
    font-weight: lighter;
}

footer {
    text-align: center;
    background-color: #1f2937;
    padding: 32px;
    color: white;
}